<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "lib/mdb/css/mdb.min.css" %}">
    <link rel="stylesheet" href="{% static "lib/mdb/css/style.css" %}">
    <script src="{% static "lib/jquery/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
    <title>Taller 1 – Procesamiento escalable</title>
</head>
<body class="grey lighten-3">

<!--Main Navigation-->
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container-fluid" style="height: 50px;">
            <div style="font-weight: 500; font-size: 22px;color: #2E4053;">
                Análisis de Información sobre Big Data
            </div>
            <div>
                <i>Taller 1 – Procesamiento escalable</i>
            </div>
        </div>
    </nav>
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
        <div class="row wow fadeIn">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-rf1-tab" data-toggle="tab" href="#nav-rf1"
                                   role="tab" aria-controls="nav-rf1" aria-selected="true">RF1</a>
                                <a class="nav-item nav-link" id="nav-rf2-tab" data-toggle="tab" href="#nav-rf2"
                                   role="tab" aria-controls="nav-rf2" aria-selected="false">RF2</a>
                                <a class="nav-item nav-link" id="nav-rf3-tab" data-toggle="tab" href="#nav-rf3"
                                   role="tab" aria-controls="nav-rf3" aria-selected="false">RF3</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-rf1" role="tabpanel"
                                 aria-labelledby="nav-rf1-tab">
                                <div class="row" style="display: inline;"><br/></div>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3 text-center">
                                        <select class="browser-default custom-select" id="cmbHoraInicio">
                                            <option value="" selected>Seleccione la hora inicial</option>
                                            {% for hora in lstHora %}
                                                <option value="{{ hora }}">{{ hora }}:00</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <select class="browser-default custom-select" id="cmbHoraFin">
                                            <option value="" selected>Seleccione la hora final</option>
                                            {% for hora in lstHora %}
                                                <option value="{{ hora }}">{{ hora }}:00</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="row" style="display: inline;"><br/></div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 text-center">
                                        <button class="btn btn-md btn-mdb-color" type="button"
                                                id="btnEjecutarRF1" onclick="EjecutarRF1();">
                                            Ejecutar Reto
                                        </button>
                                        <div class="lds-ring hidden" aria-role="none" id="loadingRF1">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row" style="display: inline;"><br/></div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8 text-center">
                                        <textarea class="form-control" id="taResultadoRF1" rows="7"></textarea>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-rf2" role="tabpanel"
                                 aria-labelledby="nav-rf2-tab">
                                <div class="row" style="display: inline;"><br/></div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <input type="text" id="txtZonaDesde" class="form-control"
                                               placeholder="Zona Desde" maxlength="10"
                                               onkeypress="return SoloNumeros(event);">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" id="txtZonaHasta" class="form-control"
                                               placeholder="Zona Hasta" maxlength="10"
                                               onkeypress="return SoloNumeros(event);">
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <select class="browser-default custom-select" id="cmbMes">
                                            <option value="" selected>Seleccione el mes</option>
                                            <option value="1">Enero</option>
                                            <option value="2">Febrero</option>
                                            <option value="3">Marzo</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Mayo</option>
                                            <option value="6">Junio</option>
                                            <option value="7">Julio</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row" style="display: inline;"><br/></div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 text-center">
                                        <button class="btn btn-md btn-mdb-color" type="button"
                                                id="btnEjecutarRF2" onclick="EjecutarRF2();">
                                            Ejecutar Reto
                                        </button>
                                        <div class="lds-ring hidden" aria-role="none" id="loadingRF2">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row" style="display: inline;"><br/></div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8 text-center">
                                        <textarea class="form-control" id="taResultadoRF2" rows="7"></textarea>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-rf3" role="tabpanel"
                                 aria-labelledby="nav-rf3-tab">
                                <div class="row" style="display: inline;"><br/></div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3 text-center">
                                        <select class="browser-default custom-select" id="cmbHoraInicioRF3">
                                            <option value="" selected>Seleccione la hora inicial</option>
                                            {% for hora in lstHora %}
                                                <option value="{{ hora }}">{{ hora }}:00</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <select class="browser-default custom-select" id="cmbHoraFinRF3">
                                            <option value="" selected>Seleccione la hora final</option>
                                            {% for hora in lstHora %}
                                                <option value="{{ hora }}">{{ hora }}:00</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="txtZonaHastaRF3" class="form-control"
                                               placeholder="Zona Hasta" maxlength="10"
                                               onkeypress="return SoloNumeros(event);">
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row" style="display: inline;"><br/></div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 text-center">
                                        <button class="btn btn-md btn-mdb-color" type="button"
                                                id="btnEjecutarRF3" onclick="EjecutarRF3();">
                                            Ejecutar Reto
                                        </button>
                                        <div class="lds-ring hidden" aria-role="none" id="loadingRF3">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row" style="display: inline;"><br/></div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8 text-center">
                                        <textarea class="form-control" id="taResultadoRF3" rows="7"></textarea>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small darken-2 mt-4 wow fadeIn" style="background-color: #2C3E50;">
    <div class="footer-copyright py-3">
        <p><b>Universidad de los Andes</b> © 2020 Copyright</p>
    </div>
</footer>
<!--Footer-->
</body>
<script>
    function EjecutarRF1() {
        const vHoraInicio = $('#cmbHoraInicio').val();
        const vHoraFin = $('#cmbHoraFin').val();

        if (!vHoraInicio || !vHoraFin) {
            alert('Los parámetros de entrada no son correctos.');
            return;
        }

        const vJson = JSON.stringify({
            "HoraInicio": vHoraInicio,
            "HoraFin": vHoraFin
        });
        const vEncode = encodeURIComponent(vJson);
        CargarRF1(true);
        $.ajax({
            url: '/EjecutarRF1/' + vEncode + '/',
            dataType: 'JSON',
            type: 'GET',
            error: function (result) {
                if (result.responseText === 'OK') {
                    setTimeout(ConsultarRespuesta, 5000, 'config-rf1.txt');
                } else {
                    $('#taResultadoRF1').val(result.responseText);
                    CargarRF1(false);
                }
            }
        });
    }

    function EjecutarRF2() {
        const vZonaDesde = $('#txtZonaDesde').val();
        const vZonaHasta = $('#txtZonaHasta').val();
        const vMes = $('#cmbMes').val();

        if (!vZonaDesde || !vZonaHasta || !vMes) {
            alert('Los parámetros de entrada no son correctos.');
            return;
        }

        const vJson = JSON.stringify({
            "ZonaDesde": vZonaDesde,
            "ZonaHasta": vZonaHasta,
            "Mes": vMes,
        });
        const vEncode = encodeURIComponent(vJson);
        CargarRF2(true);
        $.ajax({
            url: '/EjecutarRF2/' + vEncode + '/',
            dataType: 'JSON',
            type: 'GET',
            error: function (result) {
                if (result.responseText === 'OK') {
                    setTimeout(ConsultarRespuesta, 5000, 'config-rf2.txt');
                } else {
                    $('#taResultadoRF2').val(result.responseText);
                    CargarRF2(false);
                }
            }
        });
    }

    function EjecutarRF3() {
        const vHoraInicio = $('#cmbHoraInicioRF3').val();
        const vHoraFin = $('#cmbHoraFinRF3').val();
        const vZonaHasta = $('#txtZonaHastaRF3').val();

        if (!vHoraInicio || !vHoraFin || !vZonaHasta) {
            alert('Los parámetros de entrada no son correctos.');
            return;
        }

        const vJson = JSON.stringify({
            "HoraInicio": vHoraInicio,
            "HoraFin": vHoraFin,
            "ZonaHasta": vZonaHasta,
        });
        const vEncode = encodeURIComponent(vJson);
        CargarRF3(true);
        $.ajax({
            url: '/EjecutarRF3/' + vEncode + '/',
            dataType: 'JSON',
            type: 'GET',
            error: function (result) {
                if (result.responseText === 'OK') {
                    setTimeout(ConsultarRespuesta, 5000, 'config-rf3.txt');
                } else {
                    $('#taResultadoRF3').val(result.responseText);
                    CargarRF3(false);
                }
            }
        });
    }

    function ConsultarRespuesta(pFileName) {
        const vJson = JSON.stringify({
            "FileName": pFileName
        });
        const vEncode = encodeURIComponent(vJson);
        $.ajax({
            url: '/ConsultarRespuesta/' + vEncode + '/',
            dataType: 'JSON',
            type: 'GET',
            error: function (result) {
                if (result.responseText !== 'IN_PROCESS') {
                    if (pFileName === 'config-rf1.txt') {
                        $('#taResultadoRF1').val(result.responseText);
                        CargarRF1(false);
                    }
                    if (pFileName === 'config-rf2.txt') {
                        $('#taResultadoRF2').val(result.responseText);
                        CargarRF2(false);
                    }
                    if (pFileName === 'config-rf3.txt') {
                        $('#taResultadoRF3').val(result.responseText);
                        CargarRF3(false);
                    }
                } else {
                    setTimeout(ConsultarRespuesta, 5000, pFileName);
                }
            }
        });
    }

    function CargarRF1(pShow) {
        if (pShow) {
            $('#loadingRF1').show();
            $('#btnEjecutarRF1').hide();
            $('#cmbHoraInicio').prop('disabled', true);
            $('#cmbHoraFin').prop('disabled', true);
            $('#taResultadoRF1').val('');
        } else {
            $('#loadingRF1').hide();
            $('#btnEjecutarRF1').show();
            $('#cmbHoraInicio').prop('disabled', false);
            $('#cmbHoraFin').prop('disabled', false);
        }
    }

    function CargarRF2(pShow) {
        if (pShow) {
            $('#loadingRF2').show();
            $('#btnEjecutarRF2').hide();
            $('#txtZonaDesde').prop('disabled', true);
            $('#txtZonaHasta').prop('disabled', true);
            $('#cmbMes').prop('disabled', true);
            $('#taResultadoRF2').val('');
        } else {
            $('#loadingRF2').hide();
            $('#btnEjecutarRF2').show();
            $('#txtZonaDesde').prop('disabled', false);
            $('#txtZonaHasta').prop('disabled', false);
            $('#cmbMes').prop('disabled', false);
        }
    }

    function CargarRF3(pShow) {
        if (pShow) {
            $('#loadingRF3').show();
            $('#btnEjecutarRF3').hide();
            $('#cmbHoraInicioRF3').prop('disabled', true);
            $('#cmbHoraFinRF3').prop('disabled', true);
            $('#txtZonaHastaRF3').prop('disabled', true);
            $('#taResultadoRF3').val('');
        } else {
            $('#loadingRF3').hide();
            $('#btnEjecutarRF3').show();
            $('#cmbHoraInicioRF3').prop('disabled', false);
            $('#cmbHoraFinRF3').prop('disabled', false);
            $('#txtZonaHastaRF3').prop('disabled', false);
        }
    }

    function SoloNumeros(e) {
        return new RegExp("^[0-9]").test(e.key)
    }
</script>
</html>
